*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(../question.jpg);
    background-position:  center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion-container{
    background-color: white;
    width: 65%;
    padding: 34px;
    border-radius: 30px;
}

.accordion-container .title{
    margin-bottom: 23px;
    text-align: center;
}

.accordion-container .content-container .question {

    font-size: 24px;
    margin: 22px 0;
    border-bottom: 3px solid #000;
    padding-bottom: 10px;
    position: relative;
}

.accordion-container .question h2::after{
    content: "+";
    position: absolute;
    right: 5px;
}

.accordion-container .content-container .answer{
    padding-top: 8px;
    font-size: 18px;
    height: 0;
    overflow: hidden;
    transition: 1s;
}

/* javascript style link  */

.accordion-container .content-container.active .answer{
    height: 190px;
    font-size: 23px;
    

}

.accordion-container .content-container.active .question h2::after{
    content: "-";
}